.cell {
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.cell.selected {
  background-color: rgba(255, 193, 7, 0.6); /* 将棋っぽい黄色 */
}

.cell img.gote {
  transform: rotate(180deg);
}

.board {
  display: grid;
  grid-template-columns: repeat(9, var(--cell-size));
  grid-template-rows: repeat(9, var(--cell-size));
  border: 3px solid #333;
  background-color: #e3c27d;
}

.cell img {
  width: var(--piece-size);
  height: var(--piece-size);
  user-select: none;
  pointer-events: none;
}
